<div class="card w-25 ms-5 me-3 shadow-lg">
  <table class="">
    <tbody>
      <thead>
        <tr>
          <th scope="col" colspan="3" class="text-center pt-3 pb-3" id="item-name"><%=item.name%></th>
        </tr>
      </thead>
      <tr>
        <td colspan="3" class="align-center text-center pt-3 pb-3"><img src="<%= item.image %>" class="item-image w-75" /></td>
      </tr>
      <tr>
        <td class="pt-3 pb-3">
          <button class="btn btn-outline-danger offset-3 w-75 fw-semibold" id="quantityBtn">-</button>
        </td>
        <td class="text-center align-center">$<%= item.price %></td>
        <td class="pt-3 pb-3">
          <form action="/<%=item._id%>/cart?_method=PUT" method="POST">
            <button class="btn btn-success w-75 fw-semibold" id="quantityBtn">+</button>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</div>
