<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/stylesheets/home.css" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Chela+One&family=Lemon&display=swap" rel="stylesheet" />

<div class="home position-relative">
  <div class="position-absolute start-0 offset-1">
    <p class="leading-text fs-1 mb-0">Satisfy your hunger</p>
    <p class="name-text mt-0 ms-5">BitBurger!</p>
    <a href="/bitburger">
      <button class="btn btn-outline-light mt-5 offset-4 fs-3 ps-4 pe-4">Check out our Menu!</button>
    </a>
  </div>
</div>
