<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/stylesheets/menu.css" />

<div class="menu-title card text-center m-auto mt-5 mb-3 fs-1 pt-5 pb-5">Our Menu</div>
<div class="container"></div>
