.navbar {
  background-color: white;
}

.home {
  background-image: url("https://images7.alphacoders.com/817/817988.jpg");
  min-width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  position: fixed;
  overflow: hidden;
}

.position-absolute {
  top: 15%;
  left: 10%;
}

.leading-text {
  font-family: "Lemon", cursive;
  color: #bbbbbb;
}

.name-text {
  font-family: "Chela One", cursive;
  font-size: 148px;
  color: white;
  letter-spacing: 0.05em;
}
