.navbar {
  background-color: transparent;
}

body {
  background-image: url("https://images7.alphacoders.com/817/817988.jpg");
  min-width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  position: fixed;
  overflow: hidden;
}

.position-absolute {
  margin-top: 5rem;
  left: 10%;
}

.leading-text {
  font-family: "Lemon", cursive;
  color: #bbbbbb;
  font-size: 40px;
}

.name-text {
  font-family: "Chela One", cursive;
  font-size: 125px;
  color: #fdb050;
  letter-spacing: 0.05em;
}

#menu-btn {
  font-size: 40px;
  margin-left: 100px;
}

@media screen and (max-width: 958px) {
  .leading-text {
    font-family: "Lemon", cursive;
    font-size: 25px;
    color: #bbbbbb;
  }

  .name-text {
    font-family: "Chela One", cursive;
    font-size: 65px;
    color: #fdb050;
    letter-spacing: 0.05em;
  }

  #menu-btn {
    font-size: 20px;
    margin-left: 0px;
  }
}
