nav {
  background-color: black;
}

body {
  background-color: #343b3b;
}

.menu-title {
  min-width: 95%;
  max-width: 95%;
  font-family: "Vollkorn", serif;
  background-color: #f1f1f1;
}

.food-container {
  background-color: #f1f1f1;
  border-radius: 7px;
  padding: 35px 5px;
}

.menu-subsection {
  font-family: "Knewave", cursive;
  font-size: 4em;
  color: #fdb050;
  margin-top: 7rem;
}

#item-name {
  font-family: "Lemon", cursive;
  font-size: 1.2rem;
}

.item-image {
  max-height: 250px;
  min-height: 250px;
}

#quantityBtn {
  border-radius: 7px;
  max-height: 40px;
  /* max-width: 100px; */
}
